<!-- <div>
    <img class="aboutUs" src="https://imgur.com/download/Fl1GDfc">
</div> -->



<div class="howto row background">
        <div class="col-xs-12">
            <p>&#160;</p>
          <h1>How To</h1>
      
          <div class="row">
            <div>
              <p>&#160;</p>
              
              <p class="words">1. Sign up to choose if you are a student or professor</p>
              <p class="words">2. Choose a course you are taking or teaching</p>
              <p class="words">3. Then ask or answer questions!</p>
              <p>&#160;</p>
              <p>&#160;</p>
              
            </div>
          </div>
      
          <div>
            <p class="footerHeart">Made with &hearts; from TheHiddenTent 2018</p>
          </div>
      
        </div>
      </div>
      