<div class="main-panel">
  <div class="page-title col-xs-12">
    <h1>User Profile</h1>

    <div class="email-role row">
      <div class="labels col-xs-offset-1 col-xs-2">
        <p>Email:</p>
      </div>
      <div class="values col-xs-4">
        <p>{{ user.email }}</p>
      </div>

      <div class="labels user-role-label col-xs-3">
        <p>Role:</p>
      </div>
      <div class="values user-role col-xs-2">
        <p>{{ user.role }}</p>
      </div>
    </div>

    <div class="row school-class">
        <div class="labels user-school-label col-xs-offset-1 col-xs-2">
          <p></p>School:
        </div>
        <div class="values user-school col-xs-4">
          <p>{{ user.school }}</p>
        </div>

        <div class="labels user-courses-label col-xs-3">
          <p>Courses Taken:</p>
        </div>
        <div class="values user-courses col-xs-2">
          <p>{{ user.role }}</p>
        </div>
      </div>

  </div>
</div>
