<div class="form-container">
  <p class="sign-in">Sign in</p>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email Address"
          formControlName='email'
        />
    </div>

    <!-- <div *ngIf="signInForm.controls['email'].touched && !signInForm.controls['email'].valid">
      <p class="alert alert-danger"><strong>Error!</strong> Please enter a valid email!</p>
    </div> -->

    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        formControlName="password"
      />
    </div>

    <!-- <div *ngIf="signInForm.controls['password'].touched && !signInForm.controls['password'].valid">
      <p class="alert alert-danger"><strong>Error!</strong> Please enter a valid password!</p>
    </div> -->

    <div class="sign-up">
      <p (click)="toggleStatus()">Do not have an account? Sign up now!</p>
      <p>Forgot password?</p>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>



