.left-div {
  background-color: rgba(255, 255, 255, 0.79);
  height: 100vh;
}

h1 {
  color: rgba(0, 51, 153, 0.733);
  text-align: center;
  font-size: 65px;
  padding-top: 220px;
}

.right-div {
  background-color: rgba(170,198,206, .79);
  height: 100vh;
  color: rgba(0, 51, 153, 0.733);
  font-style: Apple SD Gothic Neo;
}

::placeholder {
  color: rgba(34, 80, 172, 0.733);
  opacity: 1;
  font-size: 13px;
}

.form-container {
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.sign-in {
  font-size: 40px;
  padding-bottom: 20px;
}

.submit{
  background-color: rgba(170,198,206, .79);
  text-align: right;
  border-radius: 8px;
}

input {
  padding:4px;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid rgba(0, 51, 153, 0.733);
  background-color: rgba(170, 198, 206, 0);
  width:100%
}

input:focus {
  outline: none;
}

.sign-up {
  cursor: pointer;
  font-size: 15px;
  padding-top: 7vh;
  padding-left: 10%;
}

.forgotPassword {
  cursor: pointer;
  font-size: 15px;
  padding-top: 7vh;
  padding-left: 10%;
}

.footerHeart{
  color: rgba(0, 51, 153, 0.733);
  text-align: left;
  font-size: 16px;
  padding-top: 35%;
  padding-left: 18px;
}
