<div>
    <img class="homeback" src="https://imgur.com/download/EvcLsaR">

    <!-- Change the text if the user logged in -->
    <div *ngIf="isUserLoggedIn()">
      <button type="button" routerLink="/chat-app">Logged In</button>
    </div>
</div>


<div class="row background">

<div>&#160;</div>
<div>&#160;</div>
<div>&#160;</div><div>&#160;</div>

<h1>Welcome!</h1>
<div>&#160;</div><div>&#160;</div><div>&#160;</div>

<div></div>

<div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div>

    <div>
        <p class="footerHeart">Made with &hearts; from TheHiddenTent 2018</p>
    </div>
</div>


<div class="row" *ngIf="authService.role === 'professor'">
  <div class="col-xs-12">
    <h1>I am a professor</h1>

    <button type="button" (click)="onSetupCourse()"> Would you like to setup a course? </button>
  </div>
</div>
