.homeback {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: rgba(0, 51, 153, 0.733);
  text-align: left;
  font-size: 80px;
  padding-left: 100px;
}

label.select-class-label.input-group-text {
  color: rgba(57, 87, 148, 0.733);
}

.form-group {
  text-align: left;
  font-size: 20px;
  padding-left: 100px;
}

.div {
  overflow:hidden;
}

.background {
  background-image: url("https://imgur.com/download/EvcLsaR");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.footerHeart{
  color: rgba(0, 51, 153, 0.733);
  text-align: left;
  font-size: 16px;
  padding-left: 18px;
}

.btn{
  background-color: rgba(0, 51, 153, 0.733);
  text-align: left;
  border-radius: 30px;
  margin-left: 8%;
}
