nav {
  margin: 0px;

  background-color: rgb(255,255,255);
  height: 3h;
}

.banner-right {
  color: rgb(54, 83, 156);
  opacity: 47;
}

li {
  cursor: pointer;
}

img{
  cursor: pointer;
  padding: 5px;
  width: 50px;
  height: 50px;
}





