<h1>Sign Up</h1>

<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">

  <div class="form-group">
    <label for="email" class="text-label">Email</label>
    <input
      type="email"
      name="email"
      formControlName='email'
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="password" class="text-label">Password</label>
    <input
      type="password"
      name="password"
      formControlName="password"
      class="form-control transparent-input"
    />
  </div>

  <div class="form-group">
    <label for="school" class="text-label">School</label>
    <input
      type="text"
      name="school"
      formControlName="school"
      class="form-control transparent-input"
    />
  </div>

  <div class="form-group" formArrayName="role">
    <label class="text-label" for="role-select">Role</label>

    <div
    *ngFor="let signupCtrl of getControls(); let i = index"
    [formGroupName]="i"
    >
      <select
        class="role-select form-control"
        id="role-select" formControlName="index">
        <option selected>Choose a Role</option>
        <option value="student">Student</option>
        <option value="professor">Professor</option>
      </select>
    </div>
  </div>

  <div class="sign-up">
    <p (click)="toggleStatus()">Do not have an account? Sign up now!</p>
    <p>Forgot password?</p>
  </div>

  <button class="submit" class="btn btn-primary" (click)="test()">Sign Up</button>
</form>


