/* .background {
  z-index: 1;
  position: relative;
} */


/* input[type="email"] {
  padding:4px;
  margin-bottom: 30px;
  opacity: 0.6;
  border:none;
  border-bottom:1px solid rgba(48, 82, 95, 0.3);
  width:100%
} */

.text-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(122, 122, 122);
  font-style: normal;
}

input {
  /* opacity: 0.1; */
  padding-left:4px;
  padding-right: 4px;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid rgb(122, 122, 122);
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(122, 122, 122);
}

.form-class {
  background-image: url("https://imgur.com/download/EvcLsaR");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 10%;
  padding-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  transform: translateX(90%);
  margin-right: 20em;
  border-radius: 30px;

}

select {
  margin-left: 13em;
  margin-bottom: 7vh;
  width: 40%;
}

h1 {
  color: rgba(0, 51, 153, 0.733);
  text-align: left;
  font-size: 45px;
  padding-left: 10px;
}
.submit{
  background-color: rgba(170, 198, 206, 0.329);
  text-align: right;
  border-radius: 8px;
  color: rgba(0, 51, 153, 0.733);
}
.footerHeart{
  color: rgba(0, 51, 153, 0.733);
  text-align: left;
  font-size: 16px;
  padding-top: 5%;
  padding-left: 18px;
}

/* .input-group-text {
  margin-top: 2em;
} */
/*
.home-back-g {
  max-width: 100%;
  max-height: 100%;
}


input {
  padding:4px;
  margin-bottom: 30px;
  border:none;
  border-bottom:1px solid rgb(189,189,189);
  background-color: white;
  width:100%
}

input:focus {
  outline: none;
} */
